<!doctype html>

<html lang="en">
  <head>

      {% block css %}
      <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Amadaa: {%block title%}{% endblock %}</title>
     <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/form-elements.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">


      {% endblock %}

  </head>

  <body>

    {%block body %}{% endblock %}

    <footer>
      <p><a href="http://github.com/lcabrini/amadaa-server">Amadaa</a></p>
    </footer>
  </body>
</html>
