{% extends "app_base.html" %}

{% block content %}
  <form method="post" action="/admin/user/delete/{{ user.id }}" id="confirm_form">
    <p>You are about to delete the user {{ user.username }}. Are you sure?</p>
    <input type="hidden" name="confirm" value="0" id="confirm">
  </form>
    
  <script type="text/javascript">
    f = document.getElementById("confirm_form");
    i = document.getElementById("confirm")
  </script>
  <input type="button" onclick="i.value = 0; f.submit()" value="No">
  <input type="button" onclick="i.value = 1; f.submit()" value="Yes">
{% endblock %}
