{% extends "app_base.html" %}

{% block content %}
<p>Here is the user list.</p>

{% for user in users %}
  {% if loop.first %}
    <table>
      <tr>
        <th>User</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
  {% endif %}
  <tr>
    <td>{{ user.username }}</td>
    <td><a href="/admin/user/view/{{ user.id }}">View</a></td>
    <td><a href="/admin/user/edit/{{ user.id }}">Edit</a></td>
    {% if user.deletable %}
      <td><a href="/admin/user/delete/{{ user.id }}">Delete</a></td>
    {% endif %}
  </tr>
  {% if loop.last %}
    </table>
  {% endif %}
{% else %}
  <p>There are no users in the database.</p>
{% endfor %}

<p><a href="/admin/user/add">Add user</a></p>
{% endblock %}
