body {
  background-color: white;
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  background-color: #000064;
  color: #ffff00;
  padding: 6px;
  width: 100%;
  text-align: center;
}

footer {
  margin-top: 0px;
  padding: 30px 10px 15px 10px;
  text-align: center;
  font-size: small;
  background-color: #333366;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  background-color: #ffffff;
}
